:root {
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #006aff;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}
nav{
  height: 60px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}
nav a:hover{
  background-color: var(--accent-color);
}
nav .home-link{
  margin-right: auto;
}
nav svg{
  fill: var(--text-color);
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}
@media(max-width:450px){
  .links-container{    
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 200px;

    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: .75s ease-out;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

body {
  background-color: #fff5f2;
}

#indextext {
  color: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

#progress {
  background-color: #1c1c1c7c;
  color: #fff5f2;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
}

#bodytext {
  color: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: left;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#contacttext {
  color: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

#socials {
  text-align: center;
}

.center img {
  width: 50px;
  padding: 20px;
}

.container {
  background-color: #1c1c1c;
  color: #fff5f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.list {
  flex: 1;
  padding-right: 20px;
}

.cgcert {
  margin-left: auto;
}

.cgcert img {
  width: 250px;
  height: auto;
}

.container1 {
  background-color: #1c1c1c;
  color: #fff5f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.list {
  flex: 1;
  padding-right: 20px;
}

.langs {
  margin-left: auto;
}

.langs img {
  width: 250px;
  height: auto;
}

.container2 {
  background-color: #1c1c1c;
  color: #fff5f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container2 img {
  width: 250px;
}

.container3 {
  background-color: #045c07;
  color: #fff5f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container4 {
  background-color: #1c1c1c;
  color: #fff5f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container5 {
  background-color: #0d65ca;
  color: #fff5f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container6 {
  background-color: #1c1c1c;
  color: #fff5f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container7 {
  background-color: #d17409;
  color: #fff5f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}